@import "../dist/ui/chico.css";

.vip-bg-alt {
  background:#F4F4F4;
}

.message-label {
  display: block;
  margin: 5px 0;
  color: #999;
}

.button {
  margin: 10px 0;
}

[class*= "vip-section-"] {
  padding: 25px 0
}
.short-description {
  .vip-section-header {
    text-align: center;
    text-indent:50px;
    padding: 15px 0;
    .vip-title-main {
      font-weight: 400;
      margin: 10px 0;
      font-size: 2.3em;
      position:relative;
      color:#333;
      line-height:1.2em;
    }
  }
}

.vip-section-description {
  text-align: center;
  margin:auto;
  .vip-container {
    border-bottom: 1px solid #ccc;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 17px;
    position: relative;
  }
  .vip-gallery-container {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .vip-gallery{
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      position: relative;
      .product-gallery {
        margin: 0 auto 25px;
        text-align: center;
        min-height: 50%;
        position: relative;
        padding-right: 554px;
        overflow: hidden;
        width: 42px;
      }
    }
  }
  .vip-product-info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 480px;
    min-width: 390px;
    margin-left: -4px;
    padding-left: 30px;
    .vip-price-container {
      .vip-price {
        font-size: 2.8em;
        margin-bottom: 5px;
      }
      >legend {
        display: none;
      }
    }
    >fieldset {
      padding: 10px 0;
    }
    .vip-stock-select {
      overflow: visible;
      display: inline-block;
      vertical-align: top;
      &.quantity-selection {
        padding-bottom: 0;
      }
      .stock-string {
        @extend .message-label;
        float: none;
        min-width: 50%;
        .stock-quantity, .stock-payment {
          width: 24%;
        }
      }
    }
  }
  .info-message {
    font-style: italic;
    @extend .message-label;
  }
}


