@import url(../node_modules/chico/dist/ui/chico.min.css);
/* line 3, ../sass/input.scss */
.vip-bg-alt {
  background: #F4F4F4;
}

/* line 7, ../sass/input.scss */
.message-label, .vip-section-description .vip-product-info .vip-stock-select .stock-string, .vip-section-description .info-message {
  display: block;
  margin: 5px 0;
  color: #999;
}

/* line 13, ../sass/input.scss */
.button {
  margin: 10px 0;
}

/* line 17, ../sass/input.scss */
[class*="vip-section-"] {
  padding: 25px 0;
}

/* line 21, ../sass/input.scss */
.short-description .vip-section-header {
  text-align: center;
  text-indent: 50px;
  padding: 15px 0;
}
/* line 25, ../sass/input.scss */
.short-description .vip-section-header .vip-title-main {
  font-weight: 400;
  margin: 10px 0;
  font-size: 2.3em;
  position: relative;
  color: #333;
  line-height: 1.2em;
}

/* line 36, ../sass/input.scss */
.vip-section-description {
  text-align: center;
  margin: auto;
}
/* line 39, ../sass/input.scss */
.vip-section-description .vip-container {
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 17px;
  position: relative;
}
/* line 46, ../sass/input.scss */
.vip-section-description .vip-gallery-container {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 51, ../sass/input.scss */
.vip-section-description .vip-gallery-container .vip-gallery {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
/* line 55, ../sass/input.scss */
.vip-section-description .vip-gallery-container .vip-gallery .product-gallery {
  margin: 0 auto 25px;
  text-align: center;
  min-height: 50%;
  position: relative;
  padding-right: 554px;
  overflow: hidden;
  width: 42px;
}
/* line 66, ../sass/input.scss */
.vip-section-description .vip-product-info {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  max-width: 480px;
  min-width: 390px;
  margin-left: -4px;
  padding-left: 30px;
}
/* line 75, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-price-container .vip-price {
  font-size: 2.8em;
  margin-bottom: 5px;
}
/* line 79, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-price-container > legend {
  display: none;
}
/* line 83, ../sass/input.scss */
.vip-section-description .vip-product-info > fieldset {
  padding: 10px 0;
}
/* line 86, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-stock-select {
  overflow: visible;
  display: inline-block;
  vertical-align: top;
}
/* line 90, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-stock-select.quantity-selection {
  padding-bottom: 0;
}
/* line 93, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-stock-select .stock-string {
  float: none;
  min-width: 50%;
}
/* line 97, ../sass/input.scss */
.vip-section-description .vip-product-info .vip-stock-select .stock-string .stock-quantity, .vip-section-description .vip-product-info .vip-stock-select .stock-string .stock-payment {
  width: 24%;
}
/* line 103, ../sass/input.scss */
.vip-section-description .info-message {
  font-style: italic;
}
